<div>
  <div class="section gf-form-group">
    <h5 class="section-heading">Layout</h5>
    <div class="gf-form">
      <textarea class="gf-form-input width-30" 
        rows="20"
        placeholder="Layout"
        ng-model="ctrl.editor.layout" 
        ng-change="ctrl.onConfigChanged();"></textarea>
    </div>
  </div>
  <div class="section gf-form-group">
    <h5 class="section-heading">Options</h5>
    <div class="gf-form">
      <textarea class="gf-form-input width-30" 
        rows="20"
        placeholder="Options"
        ng-model="ctrl.editor.options" 
        ng-change="ctrl.onConfigChanged();"></textarea>
    </div>
  </div>
</div>
